.input__wrapper {
  width: 100%;
}

.input {
  position: relative;
  width: 100%;
  height: 6.4rem;
  display: grid;
  grid: 1fr / 1fr;
  padding: 0;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 0.8rem;
  background: transparent;

  &:not(.input--select) {
    overflow: hidden
  }

  &:focus:not(.as-dropdown),
  &:focus-within:not(.as-dropdown),
  &.input--is-open:not(.as-dropdown) {
    border: 1px solid $primary-purple;
    outline: none;
  }

  &.input--error {
    background: $error-light;
    border: 1px solid $error;
  }

  &.input--with-icon {
    box-sizing: border-box;
    grid: 1fr / auto 4.8rem;
    padding-right: 0.4rem;
  }

  &.input--disabled {
    background: #f2f2f2;
  }

  &.input--textarea {
    min-height: 6.4rem;
    height: auto;
  }

  &.input--search {
    min-height: 4.8rem;
    height: auto;
  }
}

/* Child Styles */
.input {
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }

  & > input,
  & > select,
  & > textarea {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 3.2rem;
    color: #000;
    font-family: inherit;
  }

  & > textarea {
    padding-top: 3.2rem;
  }

  input,
  input:focus,
  textarea,
  textarea:focus {
    border: none;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
    background: none;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 0;
  }

  &.as-dropdown {
    input {
      padding-right: 0;
    }
  }

  &.input--with-label {
    &.input--textarea {
      label {
        top: 4rem;
      }

      transform: translateY(0);
    }

    input:not(:placeholder-shown) {
      padding-top: 1.2rem
    }

    textarea:not(:placeholder-shown) {
      padding-top: 3.2rem;
    }

    label {
      position: absolute;
      left: 3.2rem;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.15s ease-out;
      padding-right: 2.4rem;
      color: $grey-dark;
      pointer-events: none;
      user-select: none;
      line-height: 1.5em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    input:not(:placeholder-shown) ~ label,
    textarea:not(:placeholder-shown) ~ label {
      top: 1.6rem;
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 400;
      color: $black;
      pointer-events: auto;
    }
  }

  &.input--search {
    input {
      padding-left: 6.4rem;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
    }

    .search-icon {
      position: absolute;
      left: 3.2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.input--with-icon > .input__icon {
    height: 90%;
    display: grid;
    //place-content: center;
    align-items: center;
    padding-left: .8rem;
    cursor: pointer;

    svg {
      transition: transform 0.15s ease-out;
      pointer-events: none;
    }
  }

  &__icon--is-open svg {
    transform: rotateX(180deg);
  }

  &.input--select {
    &.input--with-icon:not(.with-display) input {
      text-transform: capitalize;
    }

    & *:not(input) {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    & > input {
      pointer-events: none;
      color: black;
      opacity: 1;
      padding-right: 0.8rem;
    }

    select {
      background: transparent;
      border: none;
      padding: 0;
      margin-left: -4px;

      option {
        padding: 0;
      }
    }

    .overlay {
      display: block;
      position: fixed;
      z-index: $z-dropdown-overlay;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      pointer-events: auto;
      visibility: visible;
      transition: 100ms ease-out;
      background: rgba(0,0,0,0.2);;

      @media (min-width: 725px) {
        background: none;
      }

      &.is-hidden {
        pointer-events: none;
        visibility: hidden;
      }
    }

    .options-list {
      box-sizing: border-box;
      position: absolute;
      z-index: $z-dropdown-list;
      top: 76px;
      left: -1px;
      min-width: calc(100% + 2px);
      width: max-content;
      padding: 16px;
      border-radius: 0.8rem;
      overflow: hidden;
      box-shadow: 2px 2px 30px rgba(128, 128, 128, 0.1);
      background: #fff;
      transform: rotateX(0);
      transform-origin: 0 0;
      opacity: 1;
      transition: transform 100ms ease-out, opacity 60ms linear, top 200ms ease;
      margin-bottom: 40rem;
      max-width: 90vw;

      &.scrollable {
        max-height: 49.2rem;
        //overflow-y: scroll;
        //overflow-x: hidden;
        .list {
          max-height: 43.2rem;
          overflow-y: scroll;
          overflow-x: hidden;
        }
      }

      &.is-hidden {
        transform: rotateX(90deg);
        opacity: 0;
      }

      input.search-options {
        @extend .option;
        display: block;
        pointer-events: auto;
        width: 100%;
        border: 1px solid $grey-light;
        background: white;
        position: sticky;
        top: 0;
        margin-bottom: 1.6rem;

        &::placeholder {
          opacity: 0.4;
        }

        &:hover, &:focus, &:focus-visible {
          background: white !important;
          //outline: none;
        }
      }

      option, .option {
        height: 4.8rem;
        display: flex;
        align-items: center;
        padding: 0 1.6rem;
        border-radius: 8px;
        background: #fff;
        cursor: pointer;
        transition: background-color 200ms ease-out;
        font-size: 1.2rem;
        line-height: 1.4rem;

        &:hover, &:focus, &:focus-visible {
          background: #f2f2f2;
          outline: none;
        }
      }
    }
  }

  &.has--search {
    .options-list.scrollable {
      max-height: 43rem;
      //max-height: 48rem;
      .list {
        //  max-height: 38.4rem;
        max-height: 33.6rem;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }

  &.input--select--native {
    select {
      background: transparent;
      border: none;
      margin-left: -0.4rem;
      appearance: menulist;

      option {
        padding: 0;
      }
    }
  }

  &.input--select.input--has-value {
    select {
      padding-top: 0.8rem;
    }

    label {
      top: 1.6rem;
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 400;
      color: $black;
    }
  }

  .date-container {
    position: absolute;
    top: 7.2rem;
    left: -1px;
    z-index: $z-dropdown-list;
    transform: rotateX(0);
    transform-origin: 0 0;
    opacity: 1;
    transition: transform 100ms ease-out, opacity 60ms linear;

    &.is-hidden {
      transform: rotateX(90deg);
      opacity: 0;
    }
  }
&--copy.input--with-label {
  input:not(:placeholder-shown) {
    padding-top: 0;
  }
}
}


.error-message {
  display: block;
  margin: 0.8rem 0 0;
  color: $error;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
}