.input__wrapper {
  width: 100%;
}
.input {
  position: relative;
  width: 100%;
  height: 6.4rem;
  display: grid;
  grid: 1fr / 1fr;
  padding: 0;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 0.8rem;
  background: transparent;

  &:not(.input--select) {
    overflow: hidden
  }

  &:focus:not(.as-dropdown),
  &:focus-within:not(.as-dropdown),
  &.input--is-open:not(.as-dropdown) {
    border: 1px solid $primary-purple;
    outline: none;
  }

  &.input--error {
    background: $error-light;
    border: 1px solid $error;
  }

  &.input--with-icon {
    box-sizing: border-box;
    grid: 1fr / auto 4.8rem;
    padding-right: 0.4rem;
  }

  &.input--disabled {
    background: #f2f2f2;
  }

  &.input--select--native {
    padding: 0 3.2rem;
  }
  
  &.input--textarea {
    min-height: 6.4rem;
    height: auto;
  }
}

/* Child Styles */
.input {
  & > input,
  & > select,
  & > textarea {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 3.2rem;
    color: #000;
  }

  input,
  input:focus,
  textarea,
  textarea:focus {
    border: none;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
    background: none;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 0;
  }

  &.as-dropdown {
    input {
      padding-right: 0;
    }
  }

  &.input--with-label {
    input:not(:placeholder-shown) {
      padding-top: 1.2rem;
    }

    textarea:not(:placeholder-shown) {
      padding-top: 3.2rem;
    }

    label {
      position: absolute;
      left: 3.2rem;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.15s ease-out;
      color: $grey-dark;
      pointer-events: none;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    input:not(:placeholder-shown) ~ label,
    textarea:not(:placeholder-shown) ~ label {
      top: 1.6rem;
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 400;
      color: $black;
      pointer-events: auto;
    }
  }

  &.input--with-icon > .input__icon {
    height: 90%;
    display: grid;
    //place-content: center;
    align-items: center;
    padding-left: .8rem;
    cursor: pointer;

    svg {
      transition: transform 0.15s ease-out;
      pointer-events: none;
    }
  }

  &__icon--is-open svg {
    transform: rotateX(180deg);
  }

  &.input--select {
    &.input--with-icon:not(.with-display) input {
      text-transform: capitalize;
    }

    & * {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    input {
      pointer-events: none;
      color: black;
      opacity: 1;
    }

    select {
      background: transparent;
      border: none;
      padding: 0;
      margin-left: -4px;

      option {
        padding: 0;
      }
    }

    .overlay {
      display: block;
      position: fixed;
      z-index: $z-dropdown-overlay;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      pointer-events: auto;
      visibility: visible;
      transition: 100ms ease-out;
      // background: #00000011;

      &.is-hidden {
        // display: none;
        pointer-events: none;
        visibility: hidden;
      }
    }

    .options-list {
      box-sizing: border-box;
      position: absolute;
      z-index: $z-dropdown-list;
      top: 76px;
      left: -1px;
      min-width: calc(100% + 2px);
      width: max-content;
      padding: 16px;
      border-radius: 0.8rem;
      overflow: hidden;
      box-shadow: 2px 2px 30px rgba(128, 128, 128, 0.1);
      background: #fff;
      transform: rotateX(0);
      transform-origin: 0 0;
      opacity: 1;
      transition: transform 100ms ease-out, opacity 60ms linear;

      &.is-hidden {
        transform: rotateX(90deg);
        opacity: 0;
      }

      option, .option {
        height: 4.8rem;
        display: flex;
        align-items: center;
        padding: 0 1.6rem;
        border-radius: 8px;
        background: #fff;
        cursor: pointer;
        transition: background-color 200ms ease-out;
        font-size: 1.2rem;
        line-height: 1.4rem;

        &:hover {
          background: #f2f2f2;
        }
      }
    }
  }

  &.input--select--native {
    select {
      background: transparent;
      border: none;
      margin-left: -0.4rem;
      appearance: menulist;

      option {
        padding: 0;
      }
    }
  }

  &.input--select.input--has-value {
    select {
      padding-top: 0.8rem;
    }

    label {
      top: 1.6rem;
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 400;
      color: $black;
    }
  }
}
.error-message {
  display: block;
  margin: 1.6rem 0 0;
  color: $error;
  font-size: 1.6rem;
  line-height: 1.9rem;
}