// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: Inter, Helvetica, Arial, sans-serif !default;

/// Colors
/// @type Color
$black: #000 !default;
$primary-purple: #900F7B !default;
$dark-purple: #6B0B5B !default;
$error: #E1331B !default;
$error-light: #FDEBE9 !default;
$grey-light: #F2F2F2 !default;
$grey: #D9D9D9 !default;
$grey-dark: #999999 !default;

$colors: (
  black: $black,
  primary-purple: $primary-purple,
  dark-purple: $dark-purple,
  error: $error,
  error-light: $error-light,
  grey-light: $grey-light,
  grey: $grey,
  grey-dark: $grey-dark
);

/// Container's maximum width
/// @type Length
$max-width: 1400px !default;