// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: Inter, Helvetica, Arial, sans-serif !default;

/// Colors
/// @type Color
$black: #000 !default;
$white: #FFF;
$primary-purple: #900F7B !default;
$dark-purple: #6B0B5B !default;
$darker-purple: #3C0232 !default;
$error: #d2331b !default;
$error-light: #FDEBE9 !default;
$grey-light: #F2F2F2 !default;
$grey: #D9D9D9 !default;
$grey-dark: #999999 !default;
$grey-darker: #666666 !default;

$colors: (
  black: $black,
  white: $white,
  primary-purple: $primary-purple,
  dark-purple: $dark-purple,
  darker-purple: $darker-purple,
  error: $error,
  error-light: $error-light,
  grey-light: $grey-light,
  grey: $grey,
  grey-dark: $grey-dark,
  grey-darker: $grey-darker
);

/// Container's maximum width
/// @type Length
$max-width: 1400px !default;

// z-index values
$z-dropdown-overlay: 11000;
$z-dropdown-list: 11500;
$z-modal: 35000;
