.indicators {
  &__header {
    height: 20rem;
    display: grid;
    grid-template-columns: 36rem auto;
    align-items: center;
    position: sticky;
    background-color: $white;
    top: 0rem;
    z-index: 3000;
    margin-top: -10rem;
    padding-top: 7rem;
    box-sizing: border-box;
    &--content {
      display: grid;
      grid-template-columns: 2fr 1.1fr 1fr 1.1fr;
      grid-column-gap: 1.6rem;
    }
    h1 {
      span {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.2rem;
        margin-left: 2rem;
      }
    }
  }
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.4rem;
}
.selected__mode {
  display: grid;
  grid-template-columns: auto 12rem;
}
.delete-text{
  margin: 4.8rem 0 1.6rem 0;
  span{
    color: $primary-purple;
    font-weight: 700;
  }
}
