@import "../Settings";

.role {
  h3.role__title {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
  }
  &__description {
    color: $grey-darker;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.controls {
  display: grid;
  grid: 1fr / auto-flow max-content;
  justify-content: end;
  column-gap: 1.6rem;
}
