.activity {
  /* ================================
    ACTIVITY HEADER
  ================================ */
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      text-transform: capitalize;
    }
  }

  &__controls {
    display: grid;
    grid: 1fr / max-content 36.6rem 18rem 10.9rem;
    column-gap: 1.6rem;
  }

  /* ================================
    ACTIVITY DATA
  ================================ */
  &__data {
    width: 100%;
    margin-top: 3.2rem;
  }
  &__data {
    tr,
    thead,
    td,
    th {
      box-sizing: border-box;
    }
    tr {
      display: grid;
      grid: 4.8rem / 40rem minmax(40rem, auto) 20rem;
      align-items: center;
      // border: 1px solid red;
    }
    td,
    th {
      width: 98%;
      display: -webkit-box;
      align-items: center;
      white-space: nowrap;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    th {
      display: grid;
      grid: 1fr / repeat(2, max-content);
      column-gap: 0.8rem;
      align-items: center;
      font-weight: 600;
      .caret {
        display: inline-block;
        border: 0.4rem solid transparent;
        border-top-color: $black;
        margin-top: 0.4rem;
      }
    }
    .createdAt {
      text-align: right;
      justify-content: end;
    }
    &__header {
      margin-bottom: 1.6rem;
      text-align: left;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
    &__body {
      .value {
        display: inline;
        color: $primary-purple;
      }
      .name {
        color: rgba($black, 0.85);
        &.untitled {
          font-style: italic;
        }
      }
      .status {
        &.success {
          color: $primary-purple;
        }
        &.failed {
          color: $error;
        }
      }
    }
  }
}
.form {
  display: grid;
  grid: auto-flow max-content / 1fr;
  row-gap: 2.4rem;
}

.input-row {
  display: grid;
  grid: 1fr / 1fr 1fr;
  column-gap: 2rem;
}
.no-activity {
  height: 60vh;
  display: grid;
  place-content: center;
}
.asc {
  transform: rotateZ(180deg);
  margin-bottom: 0.75rem;
}