.admin__item {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 3fr;
  grid-column-gap: 2.4rem;
  max-width: 34rem;
  margin-bottom: 2.4rem;
  .avatar-icon {
    width: 4rem;
    height: 4rem;
  }
  .admin-text {
    white-space: nowrap;
    .name {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: $black;
    }
    .role {
      @extend .name;
      font-weight: 400;
      margin-top: 0.6rem;
    }
  }
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.showIcons {
  transform: translateX(-30%);
  -webkit-transform: translateX(-30%);
  animation: slide-in 2s forwards;
}
@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

