.table__data {
  width: 100%;
  tr,
  thead,
  td,
  th {
    box-sizing: border-box;
  }
  tr {
    display: grid;
    grid: 4.8rem / 40rem repeat(4, 1fr);
    align-items: center;
  }
  .table__header-row {
    display: grid;
    grid: 4.8rem / 40rem repeat(4, 1fr);
    align-items: center;
  }
  .table__header-customers {
    display: grid;
    grid: 4.8rem / 40rem repeat(3, 1fr) repeat(2, max-content);
    align-items: center;
    .userLastSeen {
      padding-left: 6.8rem;
    }
    .joined {
      padding-left: 2rem;
    }
    &-option {
      grid: 6rem / 40rem repeat(2, 1fr) repeat(2, max-content);
      .timestamp {
        right: -3rem;
        position: relative;
      }
    }
    .view-activity {
      width: 9rem;
      justify-content: center;
    }
    .button {
      width: 14rem;
      justify-content: center;
    }
  }
  td,
  th {
    width: 98%;
    display: -webkit-box;
    align-items: center;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
  }
  th {
    display: grid;
    grid: 1fr / repeat(2, max-content);
    column-gap: 0.8rem;
    align-items: center;
    font-weight: 600;
    .caret {
      display: inline-block;
      border: 0.4rem solid transparent;
      border-top-color: $black;
      margin-top: 0.4rem;
    }
  }
  th .timestamp {
    text-align: right;
  }
  .timestamp,
  .lastModified,
  .updatedAt {
    text-align: right;
    justify-content: end;
  }
  .startYear,
  .endYear,
  .available {
    text-align: center;
    justify-content: center;
  }
  &__header {
    margin-bottom: 1.6rem;
    text-align: left;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  &__body {
    .value {
      display: inline;
      color: $primary-purple;
    }
    .name {
      color: rgba($black, 0.85);
      &.untitled {
        font-style: italic;
      }
    }
    .status {
      &.success {
        color: $primary-purple;
      }
      &.failed {
        color: $error;
      }
    }
  }
}
